@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #1a1a2e; /* Matches your dark theme */
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 90%;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
  }
  .clip-path-custom-2 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
  }
  .clip-path-custom-3 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
  }
}
.form-input {
  @apply w-full p-3 rounded-md bg-[#131025] text-white border border-gray-600 focus:outline-none focus:border-purple-500;
}
